In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [53]:
WNV = pd.read_csv('Datasets/west_nile/input/train.csv')
spray = pd.read_csv('Datasets/west_nile/input/spray.csv')
weather = pd.read_csv('Datasets/west_nile/input/weather.csv')

In [54]:
# WNV

In [55]:
spray.shape

(14835, 4)

In [56]:
weather.shape

(2944, 22)

In [57]:
spray.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [58]:
spray.Date = pd.to_datetime(spray.Date)

In [60]:
spray.dtypes

Date         datetime64[ns]
Time                 object
Latitude            float64
Longitude           float64
dtype: object

In [62]:
spray.sort_values(['Date'], ascending = False, inplace=True)

In [64]:
spray.plot(figsize=(12,7), x='Date')

In [67]:
spray_counts = pd.DataFrame(spray.Date.value_counts())